{
	"post_url": "http://0.0.0.0:8000",
	"history_num": 3,
	"automatic_suggestion_order": true,
	"answer_all_chat": true,
	"public_prefix": "#ai",
	"str_prefix": {
		"help": {
			"text": "帮助",
			"note": "唤出ai帮助"
		},
		"chat": {
			"text": ":",
			"note": "使用ChatGLM进行聊天,示例:#ai:你好"
		},
		"set_post_url": {
			"text": "设置接口地址",
			"note": "用来设置api接口地址"
		},
		"get_post_url": {
			"text": "读取接口地址",
			"note": "用来查看api接口地址"
		},
		"set_history_num": {
			"text": "设置记忆条数",
			"note": "用来设置ai保存的历史聊天数量,示例:#ai设置记忆条数3"
		},
		"get_history_num": {
			"text": "获取设置的记忆条数",
			"note": "用来获取ai保存的历史聊天数量"
		},
		"set_character": {
			"text": "设置人设",
			"note": "将上次对白设置为人设，会将上次的对白添加在历史聊天的顶部"
		},
		"get_character": {
			"text": "获取人设",
			"note": "用来获取ai始终记得的历史聊天"
		},
		"del_character": {
			"text": "删除人设",
			"note": "用来删除ai始终记得的历史聊天"
		},
		"get_history": {
			"text": "log",
			"note": "输出聊天历史"
		},
		"del_history": {
			"text": "dellog",
			"note": "删除聊天历史"
		}
	}
}